<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="1">
<listeners>
<listener class-name="com.framework.listeners.ListenerClass"/>
<listener class-name="com.framework.listeners.MetholdInterceptor"/>
<listener class-name="com.framework.listeners.AnnotationTransformer"/>
</listeners>
  <test thread-count="1" name="Test" parallel="methods">
    <classes>
        <class name="com.common.qa.testcases.DCTQuickQuoteTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
